<div id="weather-container">
  <app-search (citySelected)="getCity($event)"></app-search>

  <div class="cityInformation">
    <div class="cityName">{{CourentName}}</div>
    <div class="cityWeather">{{CourentCityWeatherText}}</div>
    <div class="cityWeatherInMetric">{{CourentCityWeatherTemperature.Value}} {{CourentCityWeatherTemperature.Unit}}
    </div>



    <div class="five-days-weather" *ngFor="let weather of weatherForFiveDays">
      <app-card [weatherForDay]="weather"></app-card>
    </div>
  </div>


</div>