<div id="weather-container">
  <app-search (citySelected)="getCity($event)"></app-search>

  <div class="cityInformation">
    <div class="cityName">{{CourentName}}</div>
    <div class="cityWeather">{{CourentCityWeatherText}}</div>
    <div class="cityWeatherInMetric">{{CourentCityWeatherTemperature.Value}} {{CourentCityWeatherTemperature.Unit}}
    </div>



    <div class="five-days-weather" *ngFor="let weather of weatherForFiveDays">
      <div class="day">
        <img src="./../../../../assets/img/weather-forecast.png" alt="weather reflect image" class="weather-img">
        <div class="date">{{weather.Date | date}}</div>
        <div class="day">{{weather.Day.PrecipitationIntensity}} {{weather.Day.PrecipitationType}}</div>
        <div class="Night">{{weather.Night.PrecipitationIntensity}} {{weather.Night.PrecipitationType}}</div>
      </div>
    </div>
  </div>


</div>