#weather-container {
    width: 100%;
    height: 100%;

}

.five-days-box{
    width: 100%;
    height: 100%;
}

.card-box{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 1em;
    background-color: aqua;
}

.five-days-weather{
    width: fit-content;
    height: fit-content;
    margin: 1em 0;
    border: 1px solid green;
    
}

.day{
    
    .weather-img{
        width: 100%;
    }

    .day-name{
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 1.2em;
        
    }
}