.favorit-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;

  .favorit-title {
    font-size: 2em;
    font-weight: bold;
    color: var(--primary-title);
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 1em;
  }


  .favorit-list {
    max-height: 600px;
    overflow-y: auto;

    .city{
      // padding: 1em 0;
    }
  }

}