.day {
    height: 13em;
    width: 10em;
    background-color: pink;

    .weather-img {
        width: 100%;
    }

    .day-name {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 1.2em;

    }
}