.buttons-box{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-button-toggle{
    font-size: 1.2em;
    color: var(--primary-text-color);
}

.mat-button-toggle-appearance-standard{
    background-color: var(--primary-mat-button-toggle-appearance) !important;
}

.mat-button-toggle-checked {
    background-color: var(--primary-mat-button-toggle-checked) !important;
}